<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhR27Yz28e_xn27umRVQ1py121ZKKMfhk</string>
	<key>GCM_SENDER_ID</key>
	<string>956693827368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.hk.kazuki.hayashi.kaki2</string>
	<key>PROJECT_ID</key>
	<string>kaki2-29232</string>
	<key>STORAGE_BUCKET</key>
	<string>kaki2-29232.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956693827368:ios:e3363fd018bf7aab55ca1d</string>
</dict>
</plist>